### Loading Libraries

In [25]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [26]:
df = pd.read_csv("..\data\crawler_data.csv")
df.head()

,city,page_url,download_url,download_status
0,Delhi,https://en.wikipedia.org/wiki/Delhi,https://en.wikipedia.org/api/rest_v1/page/pdf/...,0
1,Mumbai,https://en.wikipedia.org/wiki/Mumbai,https://en.wikipedia.org/api/rest_v1/page/pdf/...,0
2,Kolkata,https://en.wikipedia.org/wiki/Kolkata,https://en.wikipedia.org/api/rest_v1/page/pdf/...,0
3,Bangalore,https://en.wikipedia.org/wiki/Bangalore,https://en.wikipedia.org/api/rest_v1/page/pdf/...,0
4,Chennai,https://en.wikipedia.org/wiki/Chennai,https://en.wikipedia.org/api/rest_v1/page/pdf/...,0

In [27]:
df.city.isna().value_counts()

city
False    5585
Name: count, dtype: int64

In [28]:
df.city.value_counts()

city
Delhi                     1
Pachchaimalaiyankottai    1
Puduvayal                 1
Puliyampatti              1
Kishunpur                 1
                         ..
Navapur                   1
Magadi                    1
Panakkudi                 1
Jamtara                   1
Munnelli                  1
Name: count, Length: 5585, dtype: int64

In [29]:
df_city = df[["city"]]
print(df_city.city.shape)

(5585,)

In [30]:
df_city.drop_duplicates(keep='first',inplace=True)
print(df_city.shape)

(5585, 1)

In [31]:
df_city.value_counts()

city
Abbigeri        1
Palavur         1
Palia Kalan     1
Pali            1
Palhalan        1
               ..
Ingraj Bazar    1
Ingleshwar      1
Indurti         1
Indore          1
Zuvvaladinne    1
Name: count, Length: 5585, dtype: int64